.husky/**
.vscode/**
.vscode-test/**
node_modules/**
out/test/**
**/*.map
**/*.ts
src/**
**/.eslintrc.json
.gitignore
.prettierignore
.prettierrc
package.lock.json
**/tsconfig.json

**/*.vsix
.git/**
.github/**
**/*.svg
**/*.png
**/*.gif
.DS_Store

vsc-extension-quickstart.md
.yarnrc
**/*.map
**/*.ts
**/.vscode-test.*

!images/icon.png