.husky/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
**/.eslintrc.json
.gitignore
.prettierignore
.prettierrc
package.lock.json
**/tsconfig.json

**/*.vsix
.git/**
.github/**
**/*.svg
.DS_Store

vsc-extension-quickstart.md
.yarnrc
**/*.map
**/*.ts
**/.vscode-test.*
